.contact{
    padding: 4.5rem 0;
}
.contact-heading{
    color: white;
    text-align: center; 
    margin-bottom: 1.5rem;
}
.contacts {
    display: flex;
    /* Make the outer div a flex container */
    justify-content: center;
    /* Horizontally center-align the inner div */
    align-items: center;
}

.contact-elements {
    width: 80%;
    max-width: 400px;
    /* Adjust the maximum width as needed */
    color: white;
    text-align: center;
    /* Center-align text inside the inner div */
    padding: 20px;
    /* Add some padding for spacing */
    
    box-shadow: 0px 3px 5px 0px #665be5;;
    padding: 1.2rem;
    border-radius: 1.2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact-elements:hover {
    box-shadow: 0 10px 20px #665be5;
    transform: translateY(-8px);
}
.contact_option h4{
    font-size: 1.2rem;
    margin: 1rem 0;
        color: #665be5;
        letter-spacing: 3px;
}
h5{
    font-size: 1rem;
}

.contact_elements:icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-elements a {
    /* margin-top: 1rem; */
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    color: #FFF6E0;;
}

